@if (false) {
<script src="../../Scripts/jquery-1.6.2.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.mobile-1.0b1.js" type="text/javascript"></script>
<script src="../../Scripts/dojo.js" type="text/javascript"></script>
<script src="../../Scripts/knockout-1.2.0.js" type="text/javascript"></script>
<script src="../../Scripts/Seznam.js" type="text/javascript"></script>

<link href="../../Content/jquery.mobile-1.0b1.css" rel="stylesheet" type="text/css" />
<link href="../../Content/site.css" rel="stylesheet" type="text/css" />
}

<article data-role="page" id="logged_out">
    <section data-role="header">
        <h1>Seznam</h1>
        <a class="back" href="" rel="external">Home</a>
    </section>
    <section data-role="content">
        <p>You are now logged out. Thank you for using Seznam!</p>
    </section>
</article>