@if (false) {
<link href="../../Content/jquery.mobile-1.0b1.css" rel="stylesheet" type="text/css" />
<link href="../../Content/site.css" rel="stylesheet" type="text/css" />
}

<article data-role="page" id="logged_out">
    <section data-role="header">
        <h1>Seznam</h1>
        <a class="back" href="" rel="external" data-transition="reverse slide">Home</a>
    </section>
    <section data-role="content">
        <p>You are now logged out. Thank you for using Seznam!</p>
    </section>
</article>