<article data-role="page" id="home">
    <script src="@Url.Content("~/Scripts/ViewModels/home.js")" type="text/javascript"></script>

	<section data-role="header">
        <h1>Seznam</h1> 
        <a id="infoButton" href="#about">About</a> 
	</section>

	<section data-role="content">	
        <button data-role="button" data-bind="click: logIn">Log in</button> 
        <button data-bind="click: signUp">Sign up</button> 
	</section>

</article>