@model dynamic

<article id="logged_out">
    <div class="toolbar">
        <h1>Seznam</h1>
        <a class="back" href="#home">Home</a>
    </div>
    <p class="info">
        You are now logged out. Thank you for using Seznam!
    </p>
</article>