@if (false) {
<script src="../../Scripts/jquery-1.5.2.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.mobile-1.0b1.js" type="text/javascript"></script>
<script src="../../Scripts/dojo.js" type="text/javascript"></script>
<script src="../../Scripts/knockout-1.2.0.js" type="text/javascript"></script>
<script src="../../Scripts/knockout.mapping.js" type="text/javascript"></script>
<script src="../../Scripts/Seznam.js" type="text/javascript"></script>

<link href="../../Content/jquery.mobile-1.0b1.css" rel="stylesheet" type="text/css" />
<link href="../../Content/site.css" rel="stylesheet" type="text/css" />
}


<article data-role="page" id="login">
    <script type="text/javascript">
        $(function () {
            var loginViewModel = {
                username: ko.observable(),
                password: ko.observable(),

                error: ko.observable(),

                logIn: function () {
                    this.error(null);
                    Util.publish(Events.LogIn, [{ username: this.username(), password: this.password()}]);
                }
            };
            ko.applyBindings(loginViewModel, $(Views.LogIn)[0]);


            dojo.subscribe(Events.LoggedIn, function (userId) {
                loginViewModel.username(null);
                loginViewModel.password(null);
            });

            dojo.subscribe(Events.LoginFailed, function (reason) {
                loginViewModel.error(reason);
            });
        });
    </script>

    <section data-role="header">
        <a class="back" href="#home">Home</a>
        <h1>Log in</h1>
    </section>

    <section data-role="content">
        <fieldset>
            <div data-role="fieldcontain">
                <label>Username</label> <input data-bind="value: username" />
            </div>
            <div data-role="fieldcontain">
                <label>Password</label> <input type="password" data-bind="value: password" />
            </div>
            <input data-bind="click: logIn" type="button" value="Log in!" />
            <p data-bind="text: error" class="errorMessage"></p>
        </fieldset>
    </section>
</article>

