@if (false) {
<script src="../../Scripts/jquery-1.6.2.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.mobile-1.0b1.js" type="text/javascript"></script>
<script src="../../Scripts/dojo.js" type="text/javascript"></script>
<script src="../../Scripts/knockout-1.2.0.js" type="text/javascript"></script>
<script src="../../Scripts/knockout.mapping.js" type="text/javascript"></script>
<script src="../../Scripts/Seznam.js" type="text/javascript"></script>

<link href="../../Content/jquery.mobile-1.0b1.css" rel="stylesheet" type="text/css" />
<link href="../../Content/site.css" rel="stylesheet" type="text/css" />
}


<article data-role="page" id="main"> 
<script>
    $(function () {
        var mainViewModel = {

            personalLists: ko.observableArray(),
            sharedLists: ko.observableArray(),
            viewPersonal: function () {
                console.log("personal");
                $.mobile.changePage(Views.PersonalLists);
            },
            viewShared: function () {
                $.mobile.changePage(Views.SharedLists);
            },
            logOut: function () {
                dojo.publish(Events.LogOut);
            },
            personalListsUpdated: function () {
                this.personalLists.valueHasMutated();
            },
            sharedListsUpdated: function () {
                this.sharedLists.valueHasMutated();
            }
        };
        mainViewModel.personalListCount = ko.dependentObservable(function () {
            return this.personalLists().length;
        }, mainViewModel);
        mainViewModel.sharedListCount = ko.dependentObservable(function () {
            return this.sharedLists().length;
        }, mainViewModel);

        ko.applyBindings(mainViewModel, $(Views.Main)[0]);

        Util.subscribe(Events.UpdateAllData, function (data) {
            if (data.personalLists)
                mainViewModel.personalLists(data.personalLists);
            if (data.sharedLists)
                mainViewModel.sharedLists(data.sharedLists);
            $(Views.Main + " section[data-role='content'] ul").listview("refresh");
        });
        Util.subscribe(Events.ListCreated, this, function (list) {
            mainViewModel.personalListsUpdated();
        });
        Util.subscribe(Events.SharedListCreated, this, function () {
            mainViewModel.sharedListsUpdated();
        });

        ko.bindingHandlers.jClick = {
            init: function (element, valueAccessor) {
                $(element).click(function () {
                    valueAccessor();
                });
            }
        };
    });
</script>
    <section data-role="header" data-position="inline">
        <h1>Seznam</h1> 
        <a data-role="button" data-bind="click: logOut" class="ui-btn-right">Log out</a>
    </section>

    <section data-role="content">
        <ul data-role="listview" data-inset="true" data-theme="a">
            <li><a data-bind="click: viewPersonal">My lists</a> <span data-bind="text: personalListCount"  class="ui-li-count"></span></li>
            <li><a data-bind="click: viewShared">Shared lists</a> <span data-bind="text: sharedListCount" class="ui-li-count"></span></li>
        </ul> 
    </section>
</article>


