<article data-role="page" id="main"> 
    <script src="@Url.Content("~/Scripts/ViewModels/main.js")" type="text/javascript"></script>

    <section data-role="header" data-position="inline">
        <h1>Seznam</h1> 
        <a data-role="button" data-bind="click: logOut" class="ui-btn-right">Log out</a>
    </section>

    <section data-role="content">
        <ul data-role="listview" data-inset="true" data-theme="a">
            <li><a data-bind="click: viewPersonal">My lists</a> <span data-bind="text: personalListCount"  class="ui-li-count"></span></li>
            <li><a data-bind="click: viewShared">Shared lists</a> <span data-bind="text: sharedListCount" class="ui-li-count"></span></li>
        </ul> 
    </section>
</article>


