<article data-role="page" id="personal_lists"> 
    <script src="@Url.Content("~/Scripts/ViewModels/personalLists.js")" type="text/javascript"></script>

    <section data-role="header"> 
        <a class="back" href="#main">Home</a>
        <h1>My lists</h1> 
        <a data-role="button" data-bind="click: addList">Add</a> 
    </section>

    <section data-role="content">
        <ul data-bind="template: 'listTemplate'" data-role="listview" data-inset="true" data-theme="a">
        </ul>

        <a data-role="button" data-bind="click: addList" data-icon="plus" data-iconpos="right">Add</a>
    </section>
</article> 

<article data-role="page" id="create_list">
    <script src="@Url.Content("~/Scripts/ViewModels/createList.js")" type="text/javascript"></script>

    <section data-role="header"> 
        <a href="#main">Home</a>
        <h1>Add list</h1> 
        <a href="#personal_lists">Cancel</a> 
    </section>
    <section data-role="content">
        <form>
            <div data-role="fieldcontain">
                <label for="name">List name</label>
                <input type="text" name="name" data-bind="value: name" placeholder="New list"/>
            </div>
            <div data-role="fieldcontain" >
                <div data-bind="jqmCheck: shared"><input type="checkbox" name="checkbox" id="checkbox" class="custom" /></div>
		        <label for="checkbox">Shared</label>
            </div>
            <div data-role="fieldcontain" data-bind="jQueryTextBoxEnable: shared">
                <label for="users" title="Comma separated">Users</label>
                <input type="text" name="users" data-bind="value: users" />
            </div>
            <button data-bind="click: create">Create</button>
        </form>
    </section>
</article>


<article data-role="page" id="personal_list_detail">
    <script src="@Url.Content("~/Scripts/ViewModels/listDetail.js")" type="text/javascript"></script>

    <section data-role="header">
        <a href="#main" data-icon="home" data-iconpos="notext"></a>
        <h1 data-bind="text: name"></h1>
        <a href="#personal_lists" data-icon="back" data-iconpos="notext"></a>
    </section>

    <section data-role="content">
        <ul data-role="listview" data-bind="template: 'itemTemplate'" data-inset="true" data-split-theme="a"></ul>
        <span data-bind="visible: items().length === 0">No Items!</span> 
        <div data-role="fieldcontain">
            <input type="text" data-bind="value: newItemName" class="textbox-inline" data-inline="true"/>
            <a data-role="button" data-bind="click: addItem" data-icon="plus" data-inline="true" data-iconpos="notext" style="vertical-align: bottom"></a>
            <input type="number" data-input="number" data-bind="value: count" class="number-inline"/>
        </div>
        <p data-bind="text: error" class="errorMessage"></p>
    </section>
</article>