@model ListViewModel
@using Seznam.Models;


<article id="my_lists"> 
    <div class="toolbar"> 
        <a class="back" href="#loggedin_home">Home</a>
        <h1>My lists</h1> 
        <a class="button slidedown" href="#add_list">Add</a> 
    </div>

    <ul class="rounded">
        <li class="arrow"><a href="#add_list">Add</a> </li> 
    </ul>
</article> 
<article id="add_list" class="form">
    <div class="toolbar"> 
        <a class="back" href="#loggedin_home">Home</a>
        <h1>Add list</h1> 
        <a class="button slideup" href="#my_lists">Cancel</a> 
    </div>
    @{Html.BeginForm("Add", "List");}
        <ul class="rounded">
            <li><input type="text" name="name" placeholder="New list"/></li>
        </ul>
        <a class="submit whiteButton">Add</a>
    @{Html.EndForm();}
</article>
